<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Hero</title>
</head>
<body>
    <h1>Details of Hero</h1>
    <ul>
        <li>
            
            <h>{{single_hero.name}}<br> </h>

            <h>{{single_hero.alter_ego}}<br></h>
    
            <h>{{single_hero.primary_ability}}<br></h>
    
            <h>{{single_hero.secondary_ability}}<br></h>
    
            <h>{{single_hero.catch_phrase}}<br></h>
        </li>
     </ul>
     <a href="{% url 'superheros:index' %}">Go back to Index</a>
</body>
</html>